html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 768px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}
tr:hover {background-color: #f5f5f5;}

.marg{
   margin-top: 50px;
 }

.title_marg{
   margin-top: 300px;
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.trans {
  background: rgba(255, 255, 255, 0.6);
}

.map-window{
  height: 400px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {

  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
